version: 1.0.{build}-{branch}

cache:
  - vendor/bundle

environment:
  matrix:
    # TODO: add RUBY_VERSION=30 when available (https://www.appveyor.com/updates/)
    # TODO: figure out why Ruby 2.7 build is failing only on AppVeyor
    # - RUBY_VERSION: 27
    - RUBY_VERSION: 26
    - RUBY_VERSION: 25
    - RUBY_VERSION: 24
    # NOTE: jruby doesn't seem to be supported on default images
    # see https://www.appveyor.com/docs/build-environment/#ruby

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - bundle config --local path vendor/bundle
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake
